#game div {
    border: 1px solid black;
    width: 15%;
    height: 200px;
    margin: 10px;
    display: inline-block;
    background-color: gainsboro;
  }
h2{
  display: inline-block;
  font-size: 18px;
}
.points{
  display: inline-block;
  border: 2px solid black;
  width: 50px;
  text-align: center;
}
button{
    font-size: 12px;
    background-color: gold;
    text-align: center;
    border-radius: 25px;
    border: 2px solid limegreen;
    margin: 5px;
  }

  .started{
    background-color: gold;
    border-radius: 10px;
    border: 2px solid limegreen;
  }
  .winner{
    background-color: limegreen;
    border-radius: 10px;
    border: 2px solid gold;
  }